@model IEnumerable<Bug_Tracker.Models.Bug>

<h3>Список багов</h3>

@if (Model.Any())
{
    <table class="table table - border table-striped table-hover">
        <thead>
            <tr>
                <th>Идентификатор</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Приоритет</th> 
                <th>Описание</th>
                <th>Дата создания</th>
                <th>Дата обновления</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bug in Model)
            {
                <tr>
                    <td>@bug.BugId</td>
                    <td>@bug.Title</td>
                    <td>@bug.BugStatus</td>
                    <td>@bug.Priority</td> 
                    <td>@bug.Description</td>
                    <td>@bug.Date</td>
                    <td>@bug.UpdateAt</td>
                   @*  <td>@bug.CreatedByUserId.ToString("yyyy-MM-dd")</td>
                    <td>@bug.UpdateAt.ToString("yyyy-MM-dd")</td> *@
                    <td>
                   
                        <form asp-action="Edit" asp-route-id="@bug.BugId">
                            <button type="submit" class="btn btn-dark btn-sm">Редактировать</button>
                             </form>
                        <form asp-action="Delete" asp-route-id="@bug.BugId">
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button> 
                            </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Нет доступных багов.</p>
}

<form asp-action="Create">
 <button type = "submit" class="btn btn-primary">Добавить баг</button> 
 </form> 

 